<template>
    <div class="layout">
        <admin-navigation></admin-navigation>

        <div class="main">
            <div class="container-fluid">
                <div class="container-fluid py-6">
                    <!-- Title -->
                    <h2 class="font-bold mb-6">History</h2>
                    <!-- Title -->

                    <div class="row">
                        <div class="col-12">
                            <form class="mb-6" @submit="onSubmitForm">
                                <div class="row">
                                    <div class="col-12 col-lg-3">
                                        <div data-v-7ddd9e81="" class="input-group">
                                            <input data-v-7ddd9e81=""
                                                   type="text" v-debounce:300ms="onSubmitForm"
                                                   placeholder="Search for messages or users..." v-model="search"
                                                   aria-label="Search for messages or users..."
                                                   class="form-control form-control-lg">
                                            <div data-v-7ddd9e81="" class="input-group-append">
                                                <button data-v-7ddd9e81="" type="submit" :disabled="loading"
                                                        class="btn btn-lg btn-ico btn-secondary btn-minimal"><i
                                                    data-v-7ddd9e81="" class="fe-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <div class="form-group">
                                            <datepicker
                                                format="dd-MM-yyyy"
                                                type="text"
                                                input-class="form-control form-control-lg"
                                                v-model="fromDate"
                                                placeholder="From date"
                                            ></datepicker>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3">

                                        <div class="form-group">
                                            <datepicker
                                                format="dd-MM-yyyy"
                                                type="text"
                                                input-class="form-control form-control-lg"
                                                v-model="toDate"
                                                placeholder="To date"
                                            ></datepicker>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <button type="submit" class="btn btn-block btn-warning">
                                            <i
                                                data-v-7ddd9e81="" class="fe-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-12">
                            <div class="table-responsive" style="max-height: 400px">
                                <table class="table table-dark table-sm">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Room</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Message</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Last Message</th>
                                        <th scope="col">Ip</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(item,key) in getRecords">
                                        <th scope="row">{{ item.id }}</th>
                                        <td>{{ item.room.code }}</td>
                                        <td>{{ item.room.name }}</td>
                                        <td>{{ item.room.email }}</td>
                                        <td>{{ item.created_at }}</td>
                                        <td>{{ item.content }}</td>
                                        <td>{{ item.room.type }}</td>
                                        <td>{{ item.room.last_message }}</td>
                                        <td>{{ item.ip }}</td>
                                        <td><a target="_blank" :href="'/watermelon/room/' + item.room.id"
                                               class="btn btn-sm btn-primary"> Open room </a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="col-12 mt-5">
                            <pagination :data="getData" @pagination-change-page="getResults"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AdminNavigation from "../../components/Admin/Navigation";
import Datepicker from 'vuejs-datepicker';

export default {
    name: "history",

    components: {
        AdminNavigation,
        Datepicker,
    },

    data() {
        return {
            page: 1,
            fromDate: '',
            toDate: '',
            search: '',
        }
    },

    computed: {
        getData: function () {
            return this.$store.state.adminHistory.data;
        },
        getRecords: function () {
            return this.$store.state.adminHistory.data.data;
        },
        loading: function () {
            return this.$store.getters["adminHistory/isLoading"];
        },
    },

    methods: {
        async getResults(page = 1) {
            this.page = page;
            await this.$store.dispatch('adminHistory/index', {
                page: this.page,
                fromDate: (this.fromDate !== '') ? this.$moment(this.fromDate).format("YYYY-MM-DD") : '',
                toDate: (this.toDate !== '') ? this.$moment(this.toDate).format("YYYY-MM-DD") : '',
                search: this.search,
            })
        },
        async onSubmitForm(event) {
            event.preventDefault();
            await this.getResults();
        },
    }
}
</script>

<style scoped>

</style>
