<template>
    <div class="layout">
        <admin-navigation></admin-navigation>

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="tab-content h-100" role="tablist">
                <div
                    class="tab-pane fade h-100 show active"
                    id="tab-content-dialogs"
                    role="tabpanel">
                    <div class="d-flex flex-column h-100">
                        <div class="hide-scrollbar">
                            <div class="container-fluid py-6" :class="{'d-none':!showSideBar}">
                                <!-- Title -->
                                <h2 class="font-bold mb-6">Chats</h2>
                                <!-- Title -->

                                <!-- Search -->
                                <form class="mb-6">
                                    <div class="input-group">
                                        <input v-debounce:400ms="onSearchRoom"
                                               v-model="search"
                                               type="text"
                                               class="form-control form-control-lg"
                                               placeholder="Search for messages or users..."
                                               aria-label="Search for messages or users..."
                                        />
                                        <div class="input-group-append">
                                            <button
                                                class="btn btn-lg btn-ico btn-secondary btn-minimal"
                                                type="submit"
                                            >
                                                <i class="fe-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- Search -->

                                <!-- Chats -->
                                <nav class="nav d-block list-discussions-js mb-n6">
                                    <contact v-on:selected="onContactClick"
                                             v-on:online="onOnline"
                                             v-on:offline="onOffline"
                                             :data-caption="item.type"
                                             :data-name="item.name"
                                             :data-message="item.message"
                                             :data-last-message="item.last_message"
                                             :data-unread-count="item.unread_messages_count"
                                             :is-online="item.user.is_online"
                                             :data-contact="item"
                                             @refresh="onRefreshRooms"
                                             v-for="(item,key) in roomsData" :key="'contact-room-'+ key"
                                             :ref="'contactRoom' + key"></contact>
                                </nav>
                                <!-- Chats -->
                            </div>
                            <div class="container-fluid py-6" v-if="!showSideBar">
                                <!-- Title -->
                                <h2 class="font-bold mb-6">Room</h2>
                                <!-- Title -->

                                <div>

                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Code </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.code }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Status</span>
                                        <span class="room_details_row_value">
                                        <span class="font-weight-bold"
                                              :class="{'text-success' : isRoomOnline,'text-danger' : !isRoomOnline }">{{
                                                (isRoomOnline) ? 'Online' : 'Offline'
                                            }}</span>
                                        </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Operator name </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.operator_name }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">User name </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.name }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">User email </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.email }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Type </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.type }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Os </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.os }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Browser </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.browser }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Country </span>
                                        <span class="room_details_row_value">
                                            <country-flag
                                                :country='(selectedRoom.ip_info !== undefined && selectedRoom.ip_info.country !== undefined) ? selectedRoom.ip_info.country : ""'
                                                size='small'/>
                                            {{ selectedRoom.country }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Ip address </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.ip }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Connected at </span>
                                        <span class="room_details_row_value">
                                            {{ selectedRoom.connected_at | moment("YYYY-MM-DD h:mm:ss") }}
                                        </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Created at </span>
                                        <span class="room_details_row_value">
                                            {{ selectedRoom.created_at | moment("YYYY-MM-DD h:mm:ss") }}
                                        </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">TimeZone</span>
                                        <span class="room_details_row_value small">
                                            {{ selectedRoom.timezone }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Sidebar -->

        <!-- Main Content -->
        <div class="main" data-mobile-height="">
            <!-- Default Page -->
            <div :class="{'d-none': selectedRoom !== null}"
                 class="chat flex-column justify-content-center text-center">
                <div class="container-xxl">

                    <div class="avatar avatar-lg mb-5">
                        <img class="avatar-img" src="/images/favicon.png" alt=""/>
                    </div>

                    <h6>Hey, Admin!</h6>
                    <p>Please select a chat to start messaging.</p>
                </div>
            </div>
            <!-- Default Page -->
            <chatbox-area ref="chatboxArea" :class="{'d-none': selectedRoom === null}"
                          v-on:join="onJoin"
                          v-on:leave="onLeave"
                          v-on:markRead="onMarkRead"
            ></chatbox-area>
        </div>
        <!-- Main Content -->
    </div>
</template>
<script>
import Contact from "../../components/Admin/Inbox/Contact";
import AdminNavigation from "../../components/Admin/Navigation";
import ChatboxArea from "../../components/Admin/Inbox/ChatboxArea";

export default {
    name: "inbox",

    data() {
        return {
            search: '',
            showSideBar: true,
            isRoomOnline: false,
            selectedRoom: null,
            selectedContact: null
        }
    },
    components: {
        Contact,
        AdminNavigation,
        ChatboxArea,
    },

    async created() {
        await this.getRooms();
        await this.listen();
    },

    computed: {
        loading: function () {
            return this.$store.getters['adminRooms/isLoading'] || this.$store.getters['adminMessage/isLoading']
        },
        uploading: function () {
            return this.$store.getters['adminMedia/isLoading']
        },
        roomsData: function () {
            return this.$store.state.adminRooms.records.data;
        }
    },

    methods: {
        listen() {
            window.Echo.join('chat')
                .here(async (data) => {
                    console.log(data)
                    await this.$store.dispatch('adminUserControl/allOffline')
                    for (const item of data) {
                        await this.$store.dispatch('adminUserControl/online', {
                            id: item.user.id
                        })
                    }
                })
                .joining(async (data) => {
                    console.log('Joining new user....');
                    console.log(data);
                    await this.$store.dispatch('adminUserControl/online', {
                        id: data.user.id
                    }).then(async () => {
                        await this.getRooms();
                    })
                })
                .leaving(async (data) => {
                    console.log('Leaving new user....');
                    console.log(data);
                    await this.$store.dispatch('adminUserControl/offline', {
                        id: data.user.id
                    }).then(async () => {
                        await this.getRooms();
                    })
                });

            window.Echo.private('chatbox.messages.admin.1')
                .listen('ChatboxMessagesBroadcastEvent', async (e) => {
                    if (this.selectedRoom !== null && e.room.id === this.selectedRoom.id) {
                        await this.$refs.chatboxArea.getNewMessages(true);
                    } else {

                    }
                    await this.getRooms();
                });
            window.Echo.private('chatbox.messages.admin.1').listen('ChatboxRoomsBroadcastEvent', async (e) => {
                await this.getRooms();
            })

            window.Echo.private('chatbox.messages.admin.1').listen('JoinedOrLeaveRoomBroadcastEvent', async (e) => {
                await this.getRooms();
            });

        },
        async playSound() {
            let audio = new Audio('/assets/receive.mp3')
            await audio.play();
        },
        async getRooms() {
            await this.$store.dispatch('adminRooms/index');
        },
        async onSearchRoom() {
            await this.$store.dispatch('adminRooms/index', {
                'search': this.search
            });
        },
        async onContactClick(contact, object) {
            // @todo here must be store dispatch
            this.$refs.chatboxArea.setCurrent(contact, object);
            if (this.selectedRoom === null) {
                this.selectedRoom = contact;
                this.selectedContact = object;
            } else {
                this.selectedRoom = contact;
                this.selectedContact = object;
                this.$refs.chatboxArea.refreshData();
            }
            this.isRoomOnline = this.selectedContact.getStatus();

        },
        async onJoin(data) {
            this.selectedRoom = data;
            this.showSideBar = false;
        },
        async onLeave(data) {
            this.selectedRoom = null;
            this.showSideBar = true;
            await this.getRooms();
        },
        async onMarkRead() {
            // if (this.selectedContact !== null)
            //     await this.selectedContact.resetUnreadData();
            await this.getRooms();
        },
        async onRefreshRooms(event) {
            await this.getRooms();
        },
        async onOnline(room) {
            if (this.selectedRoom !== null && this.selectedRoom.id === room.id) {
                this.isRoomOnline = true;
            }
        },
        async onOffline(room) {
            if (this.selectedRoom !== null && this.selectedRoom.id === room.id) {
                this.isRoomOnline = false;
            }
        }
    }
};
</script>
<style scoped>

.room_details_row {
    background: #211e1e;
    padding: 8px 10px;
    margin: 0 3px 8px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
</style>
