<template>
    <div class="layout">
        <admin-navigation></admin-navigation>

        <!-- Main Content -->
        <div class="main" data-mobile-height="">
            <div class="row  align-items-stretch">
                <div class="col-12 col-lg-4">

                    <multiple-chat id="multiple-1"></multiple-chat>
                </div>
                <div class="col-12 col-lg-4">
                    <multiple-chat id="multiple-2"></multiple-chat>
                </div>
                <div class="col-12 col-lg-4">
                    <multiple-chat id="multiple-3"></multiple-chat>
                </div>
            </div>

        </div>
        <!-- Main Content -->
    </div>
</template>
<script>
import AdminNavigation from "../../components/Admin/Navigation";
import MultipleChat from "../../components/Admin/Inbox/MultipleChat";

export default {
    name: "multiple",

    data() {
        return {}
    },

    mounted() {
        this.listen();
    },

    components: {
        AdminNavigation,
        MultipleChat,
    },

    methods: {
        listen() {
            window.Echo.join('chat')
                .here((data) => {
                    this.$store.dispatch('adminUserControl/allOffline')
                    data.forEach((item) => {
                        this.$store.dispatch('adminUserControl/online', {
                            id: item.user.id
                        })
                    })
                })
                .joining((data) => {
                    this.$store.dispatch('adminUserControl/online', {
                        id: data.user.id
                    })
                })
                .leaving((data) => {
                    this.$store.dispatch('adminUserControl/offline', {
                        id: data.user.id
                    })
                });
        },
    }
}
</script>

<style scoped>

</style>
