<template>
    <div>
        <div class="layout">
            <admin-navigation></admin-navigation>

            <!-- Main Content -->
            <div class="main" data-mobile-height="">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-5">

                            <h2 class="font-bold my-6">Settings</h2>
                            <form @submit="onSubmitSettingForm">
                                <div class="form-group">
                                    <label for="input-offline" class="small">Are you offline?</label>
                                    <select id="input-offline"
                                            class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
                                            v-model="form.isOffline">
                                        <option value="hour">Working Hours</option>
                                        <option value="yes">Offline</option>
                                        <option value="no" selected="selected">Online</option>
                                    </select>
                                </div>
                                <div class="form-group" v-if="form.isOffline === 'hour'">
                                    <label for="input-start-time" class="small">Start time</label>
                                    <input type="time" id="input-start-time" min="00:00" max="23:59" v-model="form.startTime" class="form-control">
                                </div>
                                <div class="form-group"  v-if="form.isOffline === 'hour'">
                                    <label for="input-end-time" class="small">End time</label>
                                    <input type="time" id="input-end-time"  min="00:00" max="23:59" dataformatas="" v-model="form.endTime" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" :disabled="loading" class="btn btn-primary">Save Settings
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import AdminNavigation from "../../components/Admin/Navigation";

export default {
    name: "settings",

    components: {
        AdminNavigation,
    },
    data() {
        return {
            form: {
                isOffline: 'no',
                startTime: 0,
                endTime: 0,
            }
        }
    },

    mounted() {
        this.getOptions()
    },

    computed: {
        loading: function () {
            return this.$store.getters["adminMedia/isLoading"];
        },
        currentOptions: function () {
            return this.$store.state.adminOptions.data;
        }
    },

    methods: {
        async getOptions() {
            await this.$store.dispatch('adminOptions/index').then((response) => {
                this.form.isOffline = response.data.isOffline
                this.form.startTime = response.data.startTime
                this.form.endTime = response.data.endTime
            });
        },
        async onSubmitSettingForm(event) {
            event.preventDefault();
            await this.$store.dispatch('adminOptions/update', {
                isOffline: this.form.isOffline,
                startTime: this.form.startTime,
                endTime: this.form.endTime
            }).then((response) => {
                this.show_msg(response.data.message);
            });
        }
    }
}
</script>

<style scoped>

</style>
