<template>

    <div id="chat-1" class="chat dropzone-form-js">

        <!-- Chat: body -->
        <div class="chat-body">

            <!-- Chat: Header -->
            <div class="chat-header border-bottom py-4 py-lg-6 px-lg-8">
                <div class="container-xxl">
                    <div class="row align-items-center">
                        <!-- Close chat(mobile) -->
                        <div class="col-3 d-xl-none">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a class="text-muted px-0" href="/watermelon" data-chat="open">
                                        <i class="icon-md fe-chevron-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Chat photo -->
                        <div class="col-6 col-xl-6">
                            <div class="media text-center text-xl-left">
                                <div class="avatar avatar-sm d-none d-xl-inline-block mr-5">
                                    <img src="/assets/images/avatars/account.png" class="avatar-img"
                                         alt="">
                                </div>

                                <div class="media-body align-self-center text-truncate">
                                    <h6 class="text-truncate mb-n1">{{ RoomName }}</h6>
                                    <p class="text-muted small">{{ RoomCode }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chat: Header -->

            <!-- Chat: Content-->
            <div class="chat-content px-lg-8" id="chat-content-wrap">
                <div class="container-xxl py-6 py-lg-10">
                    <div class="py-3 text-center" v-if="messagesList.length > 0 && loadMore">
                        <button class="btn btn-sm btn-secondary text-center" :disabled="loadingOldMessages"
                                @click="onLoadMore">Load more
                        </button>
                    </div>
                    <div v-for="(oml,key) in oldMessagesList" :key="'message-old-list-' + key">
                        <admin-inbox-message :data-direction="(message.is_operator) ? 'right': 'left'"
                                             v-for="(message,key) in oml"
                                             :key="'message-old-' + key"
                                             :data-name="RoomName"
                                             :data-message="message"></admin-inbox-message>
                    </div>

                    <admin-inbox-message :data-direction="(message.is_operator) ? 'right': 'left'"
                                         v-for="(message,key) in messagesList"
                                         :key="'message-' + key"
                                         :data-name="RoomName"
                                         :data-message="message"></admin-inbox-message>

                </div>

                <!-- Scroll to end -->
                <div class="end-of-chat"></div>
            </div>
            <!-- Chat: Content -->
        </div>
        <!-- Chat: body -->
    </div>
</template>

<script>
import AdminInboxMessage from "../../../components/Admin/Inbox/Message"

export default {
    name: "ChatboxHistory",

    data() {
        return {
            currentContact: null,
            page: 1,
            messagesList: [],
            loadingOldMessages: false,
            loadMore: true,

            oldMessagesList: [],
        }
    },

    components: {
        AdminInboxMessage,
    },

    props: {
        dataTime: {type: String, default: ''},
        dataMessage: {type: String, default: ''},
    },

    computed: {
        adminUserId: function () {
            return this.$store.state.adminAuth.user.id;
        },
        name: function () {
            return '';
        },
        loading: function () {
            return this.$store.getters["adminMessage/isLoading"] || this.$store.getters["adminRooms/isLoading"];
        },
        uploading: function () {
            return this.$store.getters["adminMedia/isLoading"];
        },
        RoomId: function () {
            if (this.currentContact !== null)
                return this.currentContact.id
            return '';
        },
        RoomCode: function () {
            if (this.currentContact !== null)
                return this.currentContact.code
            return '';
        },
        RoomName: function () {
            if (this.currentContact !== null)
                return this.currentContact.name
            return '';
        },
    },

    created() {

    },
    methods: {
        setCurrent(room) {
            this.currentContact = room;
            this.refreshData();
        },
        refreshData() {
            this.getMessages();
        },
        allowScroll: function () {
            const container = this.$el.querySelector("#chat-content-wrap");
            let height = container.scrollHeight;
            let top = container.scrollTop;
            if (height >= container.clientHeight) {
                if (top === 0 && (height - container.clientHeight <= 200)) {
                    return true;
                } else {
                    height = height - container.clientHeight;
                }
            } else
                return true;
            let percent = (top / height) * 100;
            if (height <= container.clientHeight) {
                return percent > 20;
            } else {
                return percent > 65;
            }
        },
        async scrollDown(force = false) {
            if (this.allowScroll() || force) {
                const container = this.$el.querySelector("#chat-content-wrap");
                container.scrollTop = container.scrollHeight;
            }
            await this.markAsRead();
        },
        async getMessages() {
            this.$store.dispatch('adminMessage/index', {
                room: this.RoomId,
                page: this.page
            }).then((response) => {

                if (this.page === 1) {
                    this.messagesList = response.data
                    setTimeout(() => {
                        this.scrollDown(true);
                    }, 100)
                } else {

                    let old = [];
                    if (response.data.length <= 0) {
                        this.loadMore = false
                    }
                    old.push(response.data);
                    old.push(this.oldMessagesList);
                    this.oldMessagesList = old

                }

            });
        },
        async onLoadMore() {
            if (this.loadingOldMessages === false) {
                this.loadingOldMessages = true;
                this.page += 1;
                await this.getMessages()
            }
        },
    }
}
</script>

<style scoped>

</style>
