<template>

    <div id="chat-1" v-if="!showSideBar" class="chat dropzone-form-js">

        <!-- Chat: body -->
        <div class="chat-body">

            <!-- Chat: Header -->
            <div class="chat-header border-bottom py-4 py-lg-6 px-lg-8">
                <div class="container-xxl">

                    <div class="row align-items-center">

                        <!-- Close chat(mobile) -->
                        <div class="col-3 d-xl-none">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a class="text-muted px-0" href="/watermelon" data-chat="open">
                                        <i class="icon-md fe-chevron-left"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Chat photo -->
                        <div class="col-6 col-xl-6">
                            <div class="media text-center text-xl-left">
                                <div class="avatar avatar-sm d-none d-xl-inline-block mr-5">
                                    <img src="/assets/images/avatars/account.png" class="avatar-img"
                                         alt="">
                                </div>

                                <div class="media-body align-self-center text-truncate">
                                    <h6 class="text-truncate mb-n1">{{ RoomName }} <span class="small">({{
                                            RoomType
                                        }})</span></h6>
                                    <div class="text-truncate" v-if="isTyping">
                                        is typing<span class="typing-dots">
                            <span>.</span><span>.</span><span>.</span></span>
                                    </div>
                                    <div v-else>
                                        <p class="text-muted small">{{ RoomCode }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Chat toolbar -->
                        <div class="col-3 col-xl-6 text-right" v-if="joinedRoom">
                            <div class="d-flex justify-content-end align-items-center">

                                <div v-if="isWatcher">
                                    <div class="text-white small font-weight-bold pr-5">
                                        Watcher
                                    </div>
                                </div>
                                <div v-else>
                                    <div class="text-white small font-weight-bold pr-5">
                                        Master
                                    </div>
                                </div>
                                <button class="btn btn-danger btn-sm px-3 text-white" @click="onLeaveRoom"
                                        >
                                    <span class="d-flex align-items-center justify-contents-center">
                                        <i class="icon-md fe-x-circle mr-2"></i> Leave
                                    </span>
                                </button>
                            </div>
                        </div>

                    </div><!-- .row -->

                    <div class="row my-3">
                        <div class="col-12">
                            <div class="is-typing-message">
                                {{ isTypingMessage }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chat: Header -->

            <!-- Chat: Content-->
            <div class="chat-content px-lg-8" id="chat-content-wrap">
                <div class="container-xxl py-6 py-lg-10">

                    <div class="py-3 text-center" v-if="messagesList.length > 0 && joinedRoom && loadMore">
                        <button class="btn btn-sm btn-secondary text-center" :disabled="loadingOldMessages"
                                @click="onLoadMore">Load more
                        </button>
                    </div>
                    <div v-for="(oml,key) in oldMessagesList" :key="'message-old-list-' + key">
                        <admin-inbox-message :data-direction="(message.is_operator) ? 'right': 'left'"
                                             v-for="(message,key) in oml"
                                             :key="'message-old-' + key"
                                             :data-name="RoomName"
                                             :data-message="message"></admin-inbox-message>
                    </div>

                    <admin-inbox-message :data-direction="(message.is_operator) ? 'right': 'left'"
                                         v-for="(message,key) in messagesList"
                                         :key="'message-' + key"
                                         :data-name="RoomName"
                                         :data-message="message"></admin-inbox-message>

                </div>

                <!-- Scroll to end -->
                <div class="end-of-chat"></div>
            </div>
            <!-- Chat: Content -->

            <!-- Chat: Footer -->
            <div v-if="joinedRoom" class="chat-footer border-top py-4 py-lg-6 px-lg-8">
                <div class="container-xxl position-relative">
                    <div class="emoji-box" v-if="emoji_show">
                        <v-emoji-picker @select="selectEmoji"></v-emoji-picker>
                    </div>
                    <form @submit="sendMessage" action=""
                          class="ng-pristine ng-valid">
                        <div class="form-row align-items-center">
                            <div class="col">
                                <div class="input-group">                                  <!-- Textarea -->

                                    <textarea-autosize
                                        v-on:keypress="onTextareaKeyPress"
                                        v-debounce:400ms="onTriggerTyping"
                                        v-model="messageText"
                                        class="message mr-1 ml-50"
                                        @enter="sendMessage($event)"
                                        placeholder="Type your message..."
                                    ></textarea-autosize>

                                    <!-- Emoji button -->
                                    <div class="input-group-append">
                                        <button
                                            class="btn btn-ico btn-secondary btn-minimal bg-transparent border-0"
                                            type="button" @click="emoji_show=!emoji_show">
                                            <img src="/assets/images/smile.svg" data-inject-svg="" alt="">
                                        </button>
                                    </div>

                                    <!-- Upload button -->
                                    <div class="input-group-append">
                                        <input class="d-none" ref="fileInput" type="file" name="file"
                                               id="file-transfer"
                                               v-on:change="uploadMedia">

                                        <button id="chat-upload-btn-1"
                                                class="btn btn-ico btn-secondary btn-minimal bg-transparent border-0 "
                                                type="button">
                                            <label class="d-inline-block mt-4 pointer" for="file-transfer">
                                                <img src="/assets/images/paperclip.svg" class="pointer"
                                                     data-inject-svg="" alt="">
                                            </label>
                                        </button>
                                    </div>

                                </div>

                            </div>

                            <!-- Submit button -->
                            <div class="col-auto">
                                <button class="btn btn-ico btn-primary rounded-circle" :disabled="loading"
                                        type="submit">
                                    <span class="fe-send"></span>
                                </button>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
            <div v-else>
                <div class="row justify-content-center align-items-bottom">
                    <div class="col-12 col-lg-12">
                        <form class="form-inline p-5">
                            <div class="form-group mx-2">
                                <select class="form-control" v-model="operator_name">
                                    <option value="Hana" selected>Hana</option>
                                    <option value="Ana">Ana</option>
                                </select>
                            </div>
                            <div class="form-group mx-2">
                                <!-- <button class="btn btn-warning btn-warning" :disabled="loading" @click="onJoinToRoom">
                                    Join room
                                </button> -->
                                <button class="btn btn-warning btn-warning" @click="onJoinToRoom">
                                    Join room
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Chat: Footer -->
        </div>
        <!-- Chat: body -->
    </div>
</template>

<script>
import Vue from "vue"
import AdminInboxMessage from "../../../components/Admin/Inbox/Message"
import TextareaAutosize from "../../../components/TextareaAutosize"

import {VEmojiPicker} from 'v-emoji-picker';


export default {
    name: "ChatboxArea",

    data() {
        return {
            currentComponent: null,
            currentContact: null,
            messageText: '',
            page: 1,
            emoji_show: false,
            operator_name: 'Hana',
            showSideBar: false,
            joinedRoom: false,
            isTypingMessage: '',

            operaotrIsTyping: false,
            isTyping: false,
            isTypingTimeout: null,
            loadingOldMessages: false,
            loadMore: true,

            oldMessagesList: [],
            messagesList: [],
            // alarmAfterGotNewMessageAndNotSendResponseInterval: null,
        }
    },

    components: {
        AdminInboxMessage,
        TextareaAutosize,
        VEmojiPicker
    },

    props: {
        dataTime: {type: String, default: ''},
        dataMessage: {type: String, default: ''},
    },

    computed: {
        adminUserId: function () {
            return this.$store.state.adminAuth.user.id;
        },
        name: function () {
            return '';
        },
        loading: function () {
            return this.$store.getters["adminMessage/isLoading"] || this.$store.getters["adminRooms/isLoading"];
        },
        uploading: function () {
            return this.$store.getters["adminMedia/isLoading"];
        },
        RoomId: function () {
            if (this.currentContact !== null)
                return this.currentContact.id
            return '';
        },
        isWatcher: function () {
            if (this.currentContact !== null)
                return this.currentContact.watcher
            return false;
        },
        RoomCode: function () {
            if (this.currentContact !== null)
                return this.currentContact.code
            return '';
        },
        RoomName: function () {
            if (this.currentContact !== null)
                return this.currentContact.name
            return '';
        },
        RoomType: function () {
            if (this.currentContact !== null)
                return this.currentContact.type
            return '';
        },
    },

    created() {

        window.Echo.private('chatbox.rooms.admin.typing.1')
            .listen('RoomIsTypingBroadcastEvent', (e) => {
                if (e.room === this.RoomId) {
                    this.isTyping = true;
                    this.isTypingMessage = e.message;
                    if (this.isTypingTimeout !== null) {
                        clearTimeout(this.isTypingTimeout);
                        this.isTypingTimeout = null;
                    }
                    this.isTypingTimeout = setTimeout(() => {
                        this.isTyping = false;
                        this.isTypingTimeout = null;
                    }, 900)
                }
            });

        // Warning before leaving the page (back button, or outgoinglink)
        window.onbeforeunload = function () {
            // return "Do you really want to leave?";
            //if we return nothing here (just calling return;) then there will be no pop-up question at all
            //return;
        };
    },

    methods: {
        setCurrent(contact, object) {
            this.currentComponent = object;
            this.currentContact = contact;
            this.refreshData();
        },
        refreshData() {
            this.page = 1;
            this.messagesList = [];
            this.oldMessagesList = {};
            this.getMessages();
        },
        selectEmoji(emoji) {
            this.messageText += ' ' + emoji.data;
        },
        async playSound() {
            let audio = new Audio('/assets/receive.mp3')
            await audio.play();
        },
        allowScroll: function () {
            const container = this.$el.querySelector("#chat-content-wrap");
            let height = container.scrollHeight;
            let top = container.scrollTop;
            if (height >= container.clientHeight) {
                if (top === 0 && (height - container.clientHeight <= 200)) {
                    return true;
                } else {
                    height = height - container.clientHeight;
                }
            } else
                return true;
            let percent = (top / height) * 100;
            if (height <= container.clientHeight) {
                return percent > 20;
            } else {
                return percent > 65;
            }
        },
        async scrollDown(force = false) {
            if (this.allowScroll() || force) {
                const container = this.$el.querySelector("#chat-content-wrap");
                container.scrollTop = container.scrollHeight;
            }
            await this.markAsRead();
        },
        async getMessages() {
            await this.$store.dispatch('adminMessage/index', {
                room: this.RoomId,
                page: this.page
            }).then((response) => {
                if (this.page === 1) {
                    this.messagesList = response.data
                    setTimeout(() => {
                        this.scrollDown(true);
                    }, 100)
                } else {
                    let old = [];
                    if (response.data.length <= 0) {
                        this.loadMore = false
                    }
                    old.push(response.data);
                    old.push(this.oldMessagesList);
                    this.oldMessagesList = old
                }
            }).catch(() => {
                if (this.loadingOldMessages && this.page > 1) {
                    this.page -= 1;
                }
            }).finally(() => {
                this.loadingOldMessages = false;
            });
        },
        async getNewMessages(sound = false) {
            try {
                let lastMessage = this.messagesList[this.messagesList.length - 1];
                if (lastMessage !== undefined) {
                    await this.$store.dispatch('adminMessage/index', {
                        page: this.page,
                        room: this.RoomId,
                        newer: lastMessage.id
                    }).then((response) => {
                        // if (response.data.length > 0) {
                        //     if (this.alarmAfterGotNewMessageAndNotSendResponseInterval === null) {
                        //         this.alarmAfterGotNewMessageAndNotSendResponseInterval = setInterval(async () => {
                        //             try {
                        //                 await this.audio.play();
                        //             } catch (e) {
                        //                 let audio2 = new Audio('/assets/room.mp3');
                        //                 await audio2.play();
                        //             }
                        //         }, 30000)
                        //     }
                        // }
                        response.data.forEach((item) => {
                            this.messagesList.push(item)
                        });
                        setTimeout(() => {
                            this.scrollDown();
                        }, 100)
                        if (sound && this.joinedRoom) {
                            this.playSound();
                        }
                    });
                } else {
                    await this.getMessages(sound);
                }
            } catch (e) {
                await this.getMessages(sound);
            }
        },
        async markAsRead() {
            if (this.joinedRoom) {
                await this.$store.dispatch('adminMessage/markRead', {
                    room: this.RoomId,
                }).then(() => {
                    if (this.currentComponent !== null)
                        this.currentComponent.markAllAsRead()
                    this.$emit('markRead')
                });
            }
        },
        async onJoinToRoom(event) {
            event.preventDefault();
            await this.$store.dispatch('adminRooms/join', {
                name: this.operator_name,
                room: this.RoomId,
            }).then(response => {
                this.joinedRoom = true;
                this.currentContact = response.data;
                this.$emit('join', response.data);
                this.scrollDown(true); // because must be mark as read
                this.getMessages();
            }).catch((err) => {
                this.joinedRoom = false;
            });
        },
        async onLeaveRoom(event) {
            event.preventDefault();
            this.$store.dispatch('adminRooms/leave', {
                room: this.RoomId,
                watcher: this.isWatcher,
            }).then(response => {
                this.joinedRoom = false;
                this.$emit('leave', response.data);
            }).catch((err) => {
                this.joinedRoom = true;
            });
        },
        async sendMessage(event) {
            event.preventDefault();
            if (this.messageText.length > 0) {
                this.$store.dispatch('adminMessage/create', {
                    message: this.messageText,
                    room: this.RoomId,
                    as: this.currentContact.operator_name,
                }).then(response => {
                    this.messagesList.push({...response.data.message});
                    setTimeout(() => {
                        this.scrollDown(true);
                    }, 100)
                    this.currentContact.watcher = false;
                }).catch((err) => {
                    this.show_msg(err.response.data.message, 'error')
                });
                this.messageText = ''
                this.emoji_show = false;
            }
        },
        async uploadMedia(event) {
            let files = event.target.files;
            if (files !== undefined && files[0] !== null) {
                this.$store
                    .dispatch("adminMedia/upload", {
                        file: files[0],
                    })
                    .then((response) => {
                        this.$store.dispatch('adminMessage/create', {
                            message: '',
                            as: this.currentContact.operator_name,
                            media: response.data.id,
                            room: this.RoomId,
                        }).then(response => {
                            // this.message = ''
                            this.messagesList.push({...response.data.message});
                            setTimeout(() => {
                                this.scrollDown(true);
                            }, 100)
                            this.currentContact.watcher = false;
                        }).catch((err) => {
                            this.show_msg(err.response.data.message, 'error')
                        });
                        this.message = '';
                        this.emoji_show = false;
                    })
                    .catch((err) => {
                        this.show_msg(err.response.data.message, 'error')
                    });
            }
        },
        async onUploadClick() {
            if (this.uploading === false) {
                let input = document.createElement('input');
                input.type = "file";
                let self = this;
                input.addEventListener('change', function (event) {
                    self.uploadMedia(this.files)
                });
                input.click()
            }
        },
        async onLoadMore() {
            if (this.loadingOldMessages === false) {
                this.loadingOldMessages = true;
                this.page += 1;
                await this.getMessages()
            }
        },
        /**
         * is typing event
         * @returns {Promise<void>}
         */
        async onTextareaKeyPress() {
            if (this.operaotrIsTyping === false) {
                this.operaotrIsTyping = true;
                await this.$store.dispatch('adminRooms/typing', {
                    room: this.currentContact.id,
                });
                setTimeout(() => {
                    this.operaotrIsTyping = false;
                }, 100)
            }
        },
        /**
         * is typing event
         * @returns {Promise<void>}
         */
        async onTriggerTyping() {
            this.operaotrIsTyping = false;
            await this.$store.dispatch('adminRooms/typing', {
                room: this.currentContact.id,
            });
        }

    }
}
</script>

<style scoped>

</style>
