<template>

    <div id="chat-1" class="chat dropzone-form-js">

        <!-- Chat: body -->
        <div class="chat-body h-75">

            <!-- Chat: Header -->
            <div class="chat-header border-bottom py-4 py-lg-6 px-lg-0">
                <div class="container-xxl">

                    <div class="row align-items-center">
                        <!-- Chat photo -->
                        <div class="col-6 col-xl-6">
                            <div class="media text-center text-xl-left">
                                <div class="avatar avatar-sm d-none d-xl-inline-block mr-5"
                                     :class="{'avatar-online': isOnline}">
                                    <img src="/assets/images/avatars/account.png" class="avatar-img"
                                         alt="">
                                </div>
                                <div class="media-body align-self-center text-truncate">
                                    <h6 class="text-truncate mb-n1">{{ RoomName }}</h6>
                                    <div class="text-truncate" v-if="isTyping">
                                        is typing<span class="typing-dots">
                            <span>.</span><span>.</span><span>.</span></span>
                                    </div>
                                    <div v-else>
                                        <p class="text-muted small">{{ RoomCode }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->

                    <div class="row my-3">
                        <div class="col-12">
                            <div class="is-typing-message">
                                {{ isTypingMessage }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chat: Header -->
            <!-- Chat: Content-->
            <div class="chat-content px-lg-0" id="chat-content-wrap">
                <div class="container-xxl py-3 py-lg-2">
                    <admin-inbox-message :data-direction="(message.is_operator) ? 'right': 'left'"
                                         v-for="(message,key) in messagesList"
                                         :key="'message-' + key"
                                         :data-name="RoomName"
                                         :data-message="message"></admin-inbox-message>
                </div>

                <!-- Scroll to end -->
                <div class="end-of-chat"></div>
            </div>
            <!-- Chat: Content -->

            <!-- Chat: Footer -->
            <div v-if="joinedRoom" class="chat-footer border-top py-4 py-lg-6 px-lg-0">
                <div class="container-xxl position-relative">
                    <div class="emoji-box" v-if="emoji_show">
                        <v-emoji-picker @select="selectEmoji"></v-emoji-picker>
                    </div>
                    <form @submit="sendMessage" action=""
                          class="ng-pristine ng-valid">
                        <div class="form-row align-items-center">
                            <div class="col">
                                <div class="input-group">                                  <!-- Textarea -->

                                    <textarea-autosize
                                        v-on:keypress="onTextareaKeyPress"
                                        v-debounce:400ms="onTriggerTyping"
                                        v-model="messageText"
                                        class="message mr-1 ml-50"
                                        @enter="sendMessage($event)"
                                        placeholder="Type your message..."
                                    ></textarea-autosize>

                                    <!-- Emoji button -->
                                    <!--                                    <div class="input-group-append">-->
                                    <!--                                        <button-->
                                    <!--                                            class="btn btn-ico btn-secondary btn-minimal bg-transparent border-0"-->
                                    <!--                                            type="button" @click="emoji_show=!emoji_show">-->
                                    <!--                                            <img src="/assets/images/smile.svg" data-inject-svg="" alt="">-->
                                    <!--                                        </button>-->
                                    <!--                                    </div>-->

                                    <!-- Upload button -->
                                    <div class="input-group-append">
                                        <input class="d-none" ref="fileInput" type="file" name="file"
                                               id="file-transfer"
                                               v-on:change="uploadMedia">

                                        <button id="chat-upload-btn-1"
                                                @click="onUploadClick"
                                                class="btn btn-ico btn-secondary btn-minimal bg-transparent border-0 "
                                                type="button">
                                            <label class="d-inline-block mt-4 pointer">
                                                <img src="/assets/images/paperclip.svg" class="pointer"
                                                     data-inject-svg="" alt="">
                                            </label>
                                        </button>
                                    </div>

                                </div>

                            </div>

                            <!-- Submit button -->
                            <div class="col-auto">
                                <button class="btn btn-ico btn-primary rounded-circle" :disabled="loading"
                                        type="submit">
                                    <span class="fe-send"></span>
                                </button>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
            <div v-else>
                <div class="row justify-content-center align-items-bottom">
                    <div class="col-12 col-lg-12">
                        <form class="form-inline p-5">
                            <div class="form-group mx-2">
                                <select class="form-control" v-model="operator_name">
                                    <option value="Hana" selected>Hana</option>
                                    <option value="Ana">Ana</option>
                                </select>
                            </div>
                            <div class="form-group mx-2">
                                <!-- <button class="btn btn-warning btn-warning" :disabled="loading" @click="onJoinToRoom">
                                    Join room
                                </button> -->
                                <button class="btn btn-warning btn-warning" @click="onJoinToRoom">
                                    Join room
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Chat: Footer -->
        </div>
        <!-- Chat: body -->

    </div>
</template>

<script>
import AdminInboxMessage from "../../../components/Admin/Inbox/Message"
import TextareaAutosize from "../../../components/TextareaAutosize"

import {VEmojiPicker} from 'v-emoji-picker';

export default {
    name: "ChatboxAreaMultiple",

    data() {
        return {
            currentComponent: null,
            currentContact: null,
            messageText: '',
            operator_name: "Hana",
            page: 1,
            emoji_show: false,
            joinedRoom: false,
            isOnline: false,

            operaotrIsTyping: false,
            isTyping: false,
            isTypingTimeout: null,
            isTypingMessage: '',

            messagesList: [],
        }
    },

    components: {
        TextareaAutosize,
        AdminInboxMessage,
        VEmojiPicker
    },

    created() {
        window.Echo.private('chatbox.rooms.admin.typing.1')
            .listen('RoomIsTypingBroadcastEvent', (e) => {
                if (e.room === this.RoomId) {
                    this.isTyping = true;
                    this.isTypingMessage = e.message;
                    if (this.isTypingTimeout !== null) {
                        clearTimeout(this.isTypingTimeout);
                        this.isTypingTimeout = null;
                    }
                    this.isTypingTimeout = setTimeout(() => {
                        this.isTyping = false;
                        this.isTypingTimeout = null;
                    }, 900)
                }
            });


        // Warning before leaving the page (back button, or outgoinglink)
        window.onbeforeunload = function () {
            // return "Do you really want to leave?";
            //if we return nothing here (just calling return;) then there will be no pop-up question at all
            //return;
        };
    },

    props: {
        dataTime: {type: String, default: ''},
        dataMessage: {type: String, default: ''},
    },

    computed: {
        RoomId: function () {
            if (this.currentContact !== null)
                return this.currentContact.id
            return '';
        },
        isWatcher: function () {
            if (this.currentContact !== null)
                return this.currentContact.watcher
            return false;
        },
        RoomCode: function () {
            if (this.currentContact !== null)
                return this.currentContact.code
            return '';
        },
        RoomName: function () {
            if (this.currentContact !== null)
                return this.currentContact.name
            return '';
        },
        adminUserId: function () {
            return this.$store.state.adminAuth.user.id;
        },
        name: function () {
            return '';
        },
        loading: function () {
            return this.$store.getters["adminMessage/isLoading"] || this.$store.getters["adminRooms/isLoading"];
        },
        uploading: function () {
            return this.$store.getters["adminMedia/isLoading"];
        },
    },

    methods: {
        setCurrent(contact, object) {
            this.currentComponent = object;
            this.currentContact = contact;
            this.isOnline = this.currentComponent.getStatus();
        },
        setOnline() {
            this.isOnline = true;
        },
        setOffline() {
            this.isOnline = false;
        },
        refreshData() {
            this.getMessages();
        },
        selectEmoji(emoji) {
            this.messageText += ' ' + emoji.data;
        },
        async playSound() {
            let audio = new Audio('/assets/receive.mp3')
            await audio.play();
        },
        allowScroll: function () {
            const container = this.$el.querySelector("#chat-content-wrap");
            let height = container.scrollHeight;
            let top = container.scrollTop;
            if (height >= container.clientHeight) {
                if (top === 0 && (height - container.clientHeight <= 200)) {
                    return true;
                } else {
                    height = height - container.clientHeight;
                }
            } else
                return true;
            let percent = (top / height) * 100;
            if (height <= container.clientHeight) {
                return percent > 20;
            } else {
                return percent > 65;
            }
        },
        async scrollDown(force = false) {
            if (this.allowScroll() || force) {
                const container = this.$el.querySelector("#chat-content-wrap");
                container.scrollTop = container.scrollHeight;
            }
            await this.markAsRead();
        },
        async getMessages() {
            this.$store.dispatch('adminMessage/index', {
                room: this.RoomId,
                page: this.page
            }).then((response) => {

                if (this.page === 1) {
                    this.messagesList = response.data
                    setTimeout(() => {
                        this.scrollDown(true);
                    }, 100)
                } else {
                    this.messagesList = response.data
                    setTimeout(() => {
                        this.scrollDown();
                    }, 100)
                }

            });
        },
        async getNewMessages(sound = false) {
            try {
                let lastMessage = this.messagesList[this.messagesList.length - 1];
                if (lastMessage !== undefined) {
                    await this.$store.dispatch('adminMessage/index', {
                        page: this.page,
                        room: this.RoomId,
                        newer: lastMessage.id
                    }).then((response) => {
                        response.data.forEach((item) => {
                            this.messagesList.push(item)
                        });
                        setTimeout(() => {
                            this.scrollDown();
                        }, 100)
                        if (sound && this.joinedRoom) {
                            this.playSound();
                        }
                    });
                } else {
                    await this.getMessages(sound);
                }
            } catch (e) {
                await this.getMessages(sound);
            }
        },
        async markAsRead() {
            if (this.joinedRoom) {
                await this.$store.dispatch('adminMessage/markRead', {
                    room: this.RoomId,
                }).then(() => {
                    if (this.currentComponent !== null)
                        this.currentComponent.markAllAsRead()
                    this.$emit('markRead')
                });
            }
        },
        async onJoinToRoom(event) {
            event.preventDefault();
            this.$store.dispatch('adminRooms/join', {
                name: this.operator_name,
                room: this.RoomId,
            }).then(response => {
                this.joinedRoom = true;
                this.$emit('join', response.data);
                this.scrollDown(true); // because must be mark as read
                this.getMessages();
            }).catch((err) => {
                this.joinedRoom = false;
            });
        },
        async onLeaveRoom(event) {
            if (event)
                event.preventDefault();
            this.$store.dispatch('adminRooms/leave', {
                room: this.RoomId,
                watcher: this.isWatcher,
            }).then(response => {
                this.joinedRoom = false;
                this.$emit('leave', response.data);
            }).catch((err) => {
                this.joinedRoom = true;
            });
        },
        async sendMessage(event) {
            event.preventDefault();
            if (this.messageText.length > 0) {
                this.$store.dispatch('adminMessage/create', {
                    message: this.messageText,
                    as: this.operator_name,
                    room: this.RoomId,
                }).then(response => {
                    this.messagesList.push({...response.data.message});
                    setTimeout(() => {
                        this.scrollDown(true);
                    }, 100)
                }).catch((err) => {
                    this.show_msg(err.response.data.message, 'error')
                });
                this.messageText = ''
                this.emoji_show = false;
            }
        },
        async uploadMedia(files) {
            if (files !== undefined && files[0] !== null) {
                this.$store
                    .dispatch("adminMedia/upload", {
                        file: files[0],
                    })
                    .then((response) => {
                        this.$store.dispatch('adminMessage/create', {
                            message: '',
                            as: this.operator_name,
                            media: response.data.id,
                            room: this.RoomId,
                        }).then(response => {
                            // this.message = ''
                            this.messagesList.push({...response.data.message});
                            setTimeout(() => {
                                this.scrollDown();
                            }, 100)
                        }).catch((err) => {
                            this.show_msg(err.response.data.message, 'error')
                        });
                        this.message = '';
                        this.emoji_show = false;
                    })
                    .catch((err) => {
                        this.show_msg(err.response.data.message, 'error')
                    });
            }
        },
        async onUploadClick() {
            if (this.uploading === false) {
                let input = document.createElement('input');
                input.type = "file";
                let self = this;
                input.addEventListener('change', function (event) {
                    self.uploadMedia(this.files)
                });
                input.click()
            }
        },
        /**
         * is typing event
         * @returns {Promise<void>}
         */
        async onTextareaKeyPress() {
            if (this.operaotrIsTyping === false) {
                this.operaotrIsTyping = true;
                await this.$store.dispatch('adminRooms/typing', {
                    room: this.currentContact.id,
                });
                setTimeout(() => {
                    this.operaotrIsTyping = false;
                }, 100)
            }
        },
        /**
         * is typing event
         * @returns {Promise<void>}
         */
        async onTriggerTyping() {
            this.operaotrIsTyping = false;
            await this.$store.dispatch('adminRooms/typing', {
                room: this.currentContact.id,
            });
        }
    }
}
</script>

<style scoped>
.chat-content {
    height: 100px !important;
    max-height: 45vh;
}
</style>
