<template>
    <a class="text-reset pointer nav-link p-0 mb-6" @click="onClick">
        <div class="card card-active-listener">
            <div class="card-body">
                <div class="media">
                    <div class="avatar mr-5" :class="{'avatar-online': isOnline}">
                        <img
                            src="/assets/images/avatars/account.png"
                            alt="Anna Bridges"
                        />
                    </div>

                    <div class="media-body overflow-hidden">
                        <div class="d-flex align-items-center mb-1">
                            <h6 class="text-truncate mb-0 mr-auto">{{ dataName }} <small>({{ dataCaption }})</small>
                            </h6>
                            <p class="small text-muted text-nowrap ml-4">{{ dataTime }}</p>
                        </div>
                        <div class="text-truncate" v-if="isTyping">
                            is typing<span class="typing-dots">
                            <span>.</span><span>.</span><span>.</span></span>
                        </div>
                        <div v-else-if="dataLastMessage !== null && dataLastMessage !== ''">
                            {{ dataLastMessage | moment("MM-DD h:mm") }}
                        </div>
                        <div class="text-muted" v-else>
                            {{ dataMessage }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="badge badge-circle badge-primary badge-border-light badge-top-right"
                 v-if="dataUnreadCount > 0">
                <span class="ng-binding">{{ dataUnreadCount }}</span>
            </div>


            <div class="country-flag">
                <country-flag
                    :country='(dataContact.ip_info !== undefined && dataContact.ip_info.country !== undefined) ?
                             dataContact.ip_info.country : ""'
                    size='medium'/>
            </div>

        </div>
    </a>
</template>
<script>
export default {
    name: 'contact',

    created() {
        this.listen();
    },

    data() {
        return {
            isTyping: false,
            isTypingTimeout: null,
            ringtoneAudio: new Audio('/assets/room.mp3'),
            ringtoneTwoAudio: new Audio('/assets/room-phone.mp3'),
            audioInterval: null,
            numberOfUnansweredSeconds: 0
        }
    },

    props: {
        dataUnreadCount: {type: Number, default: 0},
        dataName: {type: String, default: ''},
        dataCaption: {type: String, default: ''},
        dataLastMessage: {type: String, default: ''},
        dataTime: {type: String, default: ''},
        dataMessage: {type: String, default: ''},
        isOnline: {type: Boolean, default: false},
        dataContact: {
            type: Object, default: () => {
                return {}
            }
        },
    },

    methods: {
        async listen() {
            window.Echo.private('chatbox.rooms.admin.typing.1')
                .listen('RoomIsTypingBroadcastEvent', (e) => {
                    if (e.room === this.dataContact.id) {
                        this.isTyping = true;
                        if (this.isTypingTimeout !== null) {
                            clearTimeout(this.isTypingTimeout);
                            this.isTypingTimeout = null;
                        }
                        this.isTypingTimeout = setTimeout(() => {
                            this.isTyping = false;
                            this.isTypingTimeout = null;
                        }, 900)
                    }
                });
            window.Echo.private('chatbox.messages.admin.1')
                .listen('ChatboxMessagesBroadcastEvent', async (e) => {
                    if (e.room.id === this.dataContact.id) {
                        let unreadCount = this.dataUnreadCount;
                        unreadCount = unreadCount + 1;
                        this.dataUnreadCount = unreadCount;
                        await this.$emit("data-unread-count", unreadCount);
                        this.isOnline = true;
                        await this.$emit("is-online", true);
                        await this.$emit('online', this.dataContact);

                        await this.prepareRoomSound();
                    }
                })
                .listen('RoomIsStatusBroadcastEvent', async (e) => {
                    if (e.room === this.dataContact.id) {
                        this.isOnline = e.isOnline;
                        if (this.isOnline)
                            await this.$emit('online', this.dataContact);
                        else
                            await this.$emit('offline', this.dataContact);
                    }
                })
        },
        async onClick(event) {
            await this.$emit('selected', this.dataContact, this);
        },
        async markAllAsRead() {
            this.dataUnreadCount = 0;
            await this.$emit("data-unread-count", 0);
        },
        async prepareRoomSound() {
            // if (this.dataUnreadCount === 1) {

            if (this.audioInterval === null) {
                if (this.dataContact.operator_name === '') {
                    await this.playRoomSound(1)
                    this.numberOfUnansweredSeconds = 0
                    this.audioInterval = setInterval(async () => {
                        this.numberOfUnansweredSeconds++
                        await this.$store.dispatch('adminRooms/show', {
                            id: this.dataContact.id
                        }).then((response) => {
                            // if (response.data.unread_messages_count === 1 && response.data.operator_name === '') {
                            this.dataContact = response.data
                            if (this.dataContact.operator_name === '') {
                                this.playRoomSound((this.numberOfUnansweredSeconds > 3) ? 2 : 1)
                            } else {
                                clearInterval(this.audioInterval)
                                this.audioInterval = null
                            }
                        })
                    }, 10000)
                } else {
                    clearInterval(this.audioInterval)
                    this.audioInterval = null
                }
            }
        },

        async playRoomSound(code = 1) {
            try {
                switch (code) {
                    case 2:
                        await this.ringtoneTwoAudio.play();
                        break;
                    default:
                        await this.ringtoneAudio.play();
                        break;
                }
            } catch (e) {
                console.log(e)
                let audio = null;
                switch (code) {
                    case 2:
                        audio = new Audio('/assets/room-phone.mp3');
                        await audio.play();
                        break;
                    default:
                        audio = new Audio('/assets/room.mp3');
                        await audio.play();
                        break;
                }
            }
        }
        ,

        getStatus() {
            return this.isOnline;
        }
    }

}
;
</script>
<style scoped>
.pointer {
    cursor: pointer;
}

.country-flag {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
</style>
