<template>
    <!-- Message -->
    <div class="message "
         :class="{'message-right' : dataDirection=== 'right' , 'message-left' : dataDirection=== 'left'}">
        <!-- Avatar -->
        <a
            class="avatar avatar-sm"
            :class="{'ml-4 ml-lg-5 d-none d-lg-block': (dataDirection=== 'right'),'mr-4 mr-lg-5': (dataDirection=== 'left')}"
            @click="submit"
            data-chat-sidebar-toggle="#chat-1-user-profile"
        >
            <img
                class="avatar-img"
                v-show="(dataDirection=== 'right')"
                :src="adminAvatar"
                alt=""
            />
            <img
                class="avatar-img"
                v-show="(dataDirection=== 'left')"
                src="/assets/images/avatars/account.png"
                alt=""
            />
        </a>
        <!-- Message: body -->
        <div class="message-body">
            <!-- Message: row -->
            <div class="message-row">
                <div
                    class="d-flex align-items-center"
                    :class="{'justify-content-end':(dataDirection=== 'right')}"
                >
                    <!-- Message: content -->
                    <div
                        class="message-content"
                        :class="{'bg-primary  text-white':(dataDirection=== 'right'),'bg-light':(dataDirection=== 'left')}"
                    >
                        <h6 class="mb-2">{{ dataMessage.name }}</h6>
                        <div>
                            <div v-if="dataMessage.media.url !== null">
                                <div v-if="dataMessage.media.downloadable === false">
                                    <a :href="dataMessage.media.url" class="btn btn-block btn-secondary"
                                       target="_blank">
                                        <img :src="dataMessage.media.url" style="max-width: 100%" height="150"/>
                                    </a>
                                </div>
                                <div v-else>
                                    <a :href="dataMessage.media.url" class="btn btn-block btn-secondary"
                                       target="_blank">Download Attach</a>
                                </div>
                            </div>
                            <div class="message-component-contents" v-html="detectNewLine(urlify(dataMessage.content))">

                            </div>
                        </div>


                        <div class="mt-1">
                            <small class="opacity-65">
                                {{ dataMessage.created_at | moment("MM-DD h:mm") }}
                                <!--                                <timeago :datetime="dataMessage.created_at"></timeago>-->
                            </small>
                        </div>
                    </div>
                    <!-- Message: content -->
                </div>
            </div>
            <!-- Message: row -->
        </div>
        <!-- Message: Body -->
    </div>
    <!-- Message -->
</template>
<script>
export default {
    props: {
        dataDirection: {default: 'right', type: String}, // left is operator
        dataName: {default: '', type: String}, // left is operator
        dataMessage: {
            default: () => {
                return {}
            }, type: Object
        },
    },
    computed: {
        adminAvatar: function () {
            if (this.dataMessage.operator_as !== null)
                switch (this.dataMessage.operator_as) {
                    case 'Hana':
                        return '/assets/images/avatars/hana.jpg'
                    case 'Ana':
                        return '/assets/images/avatars/ana.jpg'
                    default:
                        return '/assets/images/avatars/hana.jpg'
                }
            else
                return '/assets/images/avatars/hana.jpg'
        },
    },
    methods: {
        urlify(text) {
            if (text !== undefined && text !== null) {
                text = text.replace("www.", "https://");
                text = text.replace("https://https://", "https://");
                text = text.replace("http://https://", "http://");
                var urlRegex = /(https?:\/\/[^\s]+)/g;
                return text.replace(urlRegex, function (url) {
                    return '<a href="' + url + '" target="_blank">' + url + "</a>";
                });
            }
            return "";
            // or alternatively
            // return text.replace(urlRegex, '<a href="$1">$1</a>')
        },
        detectNewLine(text) {
            return text.replaceAll('↵', '<br>').replaceAll('\n', '<br>');
        },
        submit(event) {
            event.preventDefault();
        },
    }
}
</script>
<style scoped>

</style>
