<template>
    <div class="multiple-card">

        <div class="tab-content" role="tablist">
            <div
                class="tab-pane fade show active"
                id="tab-content-dialogs"
                role="tabpanel">
                <div class="d-flex flex-column ">
                    <div class="hide-scrollbar">
                        <div class="container-fluid py-6" :class="{'d-none':!showSideBar}">
                            <!-- Title -->
                            <h2 class="font-bold mb-6">Chats</h2>
                            <!-- Title -->

                            <!-- Search -->
                            <form class="mb-6">
                                <div class="input-group">
                                    <input v-debounce:400ms="onSearchRoom"
                                           v-model="search"
                                           type="text"
                                           class="form-control form-control-lg"
                                           placeholder="Search for messages or users..."
                                           aria-label="Search for messages or users..."
                                    />
                                    <div class="input-group-append">
                                        <button
                                            class="btn btn-lg btn-ico btn-secondary btn-minimal"
                                            type="submit"
                                        >
                                            <i class="fe-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- Search -->

                            <!-- Chats -->
                            <nav class="nav d-block list-discussions-js mb-n6">
                                <contact v-on:selected="onContactClick"
                                         v-on:online="onOnline"
                                         v-on:offline="onOffline"
                                         :data-name="item.name"
                                         :data-message="item.message"
                                         :data-last-message="item.last_message"
                                         :data-caption="item.type"
                                         :data-unread-count="item.unread_messages_count"
                                         :is-online="item.user.is_online"
                                         :data-contact="item"
                                         @refresh="onRefreshRooms"
                                         v-for="(item,key) in roomsData" :key="'contact-room-'+ key"
                                         :ref="'contactRoom' + key"></contact>
                            </nav>
                            <!-- Chats -->
                        </div>
                        <div class="container-fluid py-6" :class="{'d-none': showSideBar}">
                            <!-- Title -->
                            <h2 class="font-bold mb-6">Room</h2>
                            <!-- Title -->

                            <div>
                                <!-- Default Page -->
                                <chatbox-area-multiple ref="chatboxArea" :class="{'d-none': selectedRoom === null}"
                                                       v-on:join="onJoin"
                                                       v-on:leave="onLeave"
                                                       v-on:markRead="onMarkRead"
                                ></chatbox-area-multiple>

                                <a href="javascript:void(0)" class="btn btn-danger btn-block mt-4"
                                   @click="leaveRoom">Leave</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>


import Contact from "./Contact";
import ChatboxAreaMultiple from "./ChatboxAreaMultiple";

export default {
    name: "MultipleChat",
    components: {
        ChatboxAreaMultiple,
        Contact,
    },

    data() {
        return {
            search: '',
            showSideBar: true,
            selectedRoom: null,
            selectedContact: null,


            roomsData: []
        }
    },

    created() {
        this.getRooms();
        this.listen();
    },

    computed: {
        loading: function () {
            return this.$store.getters['adminRooms/isLoading'] || this.$store.getters['adminMessage/isLoading']
        },
        uploading: function () {
            return this.$store.getters['adminMedia/isLoading']
        },
    },

    methods: {
        listen() {
            window.Echo.private('chatbox.messages.admin.1')
                .listen('ChatboxMessagesBroadcastEvent', (e) => {
                    if (this.selectedRoom !== null && e.room.id === this.selectedRoom.id) {
                        this.$refs.chatboxArea.getNewMessages(true);
                        this.playSound();
                    }
                    this.getRooms();
                })
                .listen('ChatboxRoomsBroadcastEvent', (e) => {
                    this.getRooms();
                })
                .listen('JoinedOrLeaveRoomBroadcastEvent', (e) => {
                    this.getRooms();
                });
        },
        async playSound() {
            let audio = new Audio('/assets/receive.mp3')
            await audio.play();
        },
        async getRooms() {
            await this.$store.dispatch('adminRooms/index').then(response => {
                this.roomsData = response.data.data
            });
        },
        async onSearchRoom() {
            await this.$store.dispatch('adminRooms/index', {
                'search': this.search
            });
        },
        async onContactClick(contact, object) {
            // @todo here must be store dispatch
            this.showSideBar = false;
            this.$refs.chatboxArea.setCurrent(contact, object);
            if (this.selectedRoom === null) {
                this.selectedRoom = contact;
                this.selectedContact = object;
            } else {
                this.selectedRoom = contact;
                this.selectedContact = object;
                this.$refs.chatboxArea.refreshData();
            }

        },
        async onJoin(data) {
            this.selectedRoom = data;
            this.showSideBar = false;
        },
        async onLeave(data) {
            this.selectedRoom = null;
            this.showSideBar = true;

            await this.getRooms();
        },
        async onMarkRead() {
            // if (this.selectedContact !== null)
            //     await this.selectedContact.resetUnreadData();

            await this.getRooms();
        },
        async leaveRoom(event) {
            if (this.$refs.chatboxArea)
                await  this.$refs.chatboxArea.onLeaveRoom(event);
        },
        async onRefreshRooms(event) {
            await this.getRooms();
        },
        async onOnline(room) {
            if (this.selectedRoom !== null && this.selectedRoom.id === room.id) {
                this.$refs.chatboxArea.setOnline();
            }
        },
        async onOffline(room) {
            if (this.selectedRoom !== null && this.selectedRoom.id === room.id) {
                this.$refs.chatboxArea.setOffline();
            }
        }
    }
}
</script>

<style scoped>
.multiple-card {
    background: #2f2a30;
}
</style>
