<template>
    <div class="navigation navbar navbar-light justify-content-center py-xl-7">
        <!-- Brand -->
        <a href="#" class="d-none d-xl-block mb-6">
            <img
                src=""
                class="mx-auto fill-primary"
                data-inject-svg=""
                alt=""
                style="height: 46px"
            />
        </a>

        <!-- Menu -->
        <ul
            class="nav navbar-nav flex-row flex-xl-column flex-grow-1 justify-content-between justify-content-xl-center py-3 py-lg-0"
            role="tablist"
        >
            <!-- Invisible item to center nav vertically -->
            <li class="nav-item d-none d-xl-block invisible flex-xl-grow-1">
                <a class="nav-link position-relative p-0 py-xl-3" href="#" title="">
                    <i class="icon-lg fe-x"></i>
                </a>
            </li>

            <!-- Chats -->
<!--            <li class="nav-item mt-xl-9">-->
<!--                <a-->
<!--                    class="nav-link position-relative p-0 py-xl-3"-->
<!--                    data-toggle="tab"-->
<!--                    href="/watermelon/inbox"-->
<!--                    title="Chats"-->
<!--                    role="tab"-->
<!--                >-->
<!--                    <i class="icon-lg fe-message-square"></i>-->
<!--                    <div class="badge badge-dot badge-primary badge-bottom-center"></div>-->
<!--                </a>-->
<!--            </li>-->

            <!-- Dashboard -->
            <li class="nav-item mt-xl-9">
                <a
                    class="nav-link position-relative p-0 py-xl-3"
                    href="/watermelon/dashboard"
                    title="Dashboard"
                >
                    <i class="icon-lg fe-message-square"></i>
                </a>
            </li>

            <!-- Multiple chats -->
            <li class="nav-item mt-xl-9">
                <a
                    class="nav-link position-relative p-0 py-xl-3"
                    href="/watermelon/multiple"
                    title="Multiple"
                >
                    <i class="icon-lg fe-layout"></i>
                </a>
            </li>

            <li class="nav-item mt-xl-9">
                <a
                    class="nav-link position-relative p-0 py-xl-3"
                    href="/watermelon/history"
                    title="History"
                >
                    <i class="icon-lg fe-clock"></i>
                </a>
            </li>
            <!-- Settings -->
            <li class="nav-item mt-xl-9">
                <a
                    class="nav-link position-relative p-0 py-xl-3"
                    href="/watermelon/settings"
                    title="Settings"
                >
                    <i class="icon-lg fe-settings"></i>
                </a>
            </li>
        </ul>
        <!-- Menu -->

    </div>
</template>
<script>
export default {};
</script>
<style scoped>
</style>
