<template>
    <div class="layout">
        <user-navigation></user-navigation>
        <!-- Sidebar -->
        <div class="sidebar navigation navbar navbar-light justify-content-center py-xl-7"
             :class="{'sidebar-mobile-show': informationStatus === true}">
            <div class="container-fluid py-6">
                <div class="d-xl-none sidebar-mobile-close" v-if="informationStatus === true">
                    <a href="javascript:void(0)"
                       @click="informationStatus = !informationStatus">
                        &times;
                    </a>
                </div>
                <!-- Title -->
                <h2 class="font-bold mb-6">Social Tradia Live Chat
                </h2>
                <p class="text-xl-left">
                    Hello!<br>
                    It's lovely to see you here. <br>
                    we would be more than happy to help, just send us a message and we will take it from there :)
                    <br>
                    <br>
                    Working Hours: 9 am - 6 pm EST
                </p>
                <img class="mt-4" src="/assets/images/chat.png" width="100%">
                <!-- Title -->
            </div>
        </div>
        <!-- Sidebar -->
        <!-- Main Content -->
        <div class="main main-visible" data-mobile-height="">
            <!-- Chat -->
            <div id="chat-1" class="chat dropzone-form-js" data-dz-url="some.php">
                <!-- Chat: body -->
                <div class="chat-body">
                    <!-- Chat: Header -->
                    <div class="chat-header border-bottom py-4 py-lg-6 px-lg-8">
                        <div class="container-xxl">
                            <div class="row align-items-center">
                                <!-- Close chat(mobile) -->
                                <div class="col-2 d-xl-none">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a class="text-muted px-0" href="/" data-chat="open">
                                                <i class="icon-md fe-chevron-left"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Chat photo -->
                                <div class="col-8 col-xl-6">
                                    <div class="media text-center text-xl-left">
                                        <div class="avatar avatar-sm d-none d-xl-inline-block mr-5">
                                            <img :src="getOperatorAvatar()" class="avatar-img" alt="">
                                        </div>

                                        <div class="media-body align-self-center text-truncate">
                                            <h6 class="text-truncate mb-n1">{{ getOperatorName() }}</h6>
                                            <div class="text-truncate" v-if="operatorIsTyping">
                                                is typing<span class="typing-dots">
                            <span>.</span><span>.</span><span>.</span></span>
                                            </div>
                                            <div v-else>
                                                <small class="text-muted">Customer Service Specialist</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-2 d-xl-none text-right">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a class="text-muted px-0" href="javascript:void(0)"
                                               @click="informationStatus = !informationStatus" data-chat="open">
                                                <img src="/images/Info-circle.svg" width="20">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .row -->

                        </div>
                    </div>
                    <!-- Chat: Header -->

                    <!-- Chat: Search -->
                    <div class="collapse border-bottom px-lg-8" id="chat-1-search">
                        <div class="container-xxl py-4 py-lg-6">

                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Search this chat"
                                       aria-label="Search this chat">

                                <div class="input-group-append">
                                    <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                                        <i class="fe-search"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Chat: Search -->

                    <!-- Chat: Content-->
                    <div class="chat-content px-lg-8" id="chat-content-wrap">
                        <div class="container-xxl py-6 py-lg-10">
                            <user-inbox-message :data-direction="(message.is_operator) ? 'left': 'right'"
                                                v-for="(message,key) in messagesList"
                                                :key="'message-' + key"
                                                :data-message="message"></user-inbox-message>
                        </div>
                        <!-- Scroll to end -->
                        <div class="end-of-chat"></div>
                    </div>
                    <!-- Chat: Content -->

                    <!-- Chat: DropzoneJS container -->
                    <div class="chat-files hide-scrollbar px-lg-8">
                        <div class="container-xxl">
                            <div class="dropzone-previews-js form-row py-4"></div>
                        </div>
                    </div>
                    <!-- Chat: DropzoneJS container -->

                    <!-- Chat: Footer -->
                    <div class="chat-footer border-top py-4 py-lg-6 px-lg-8">
                        <div class="container-xxl position-relative">
                            <div class="emoji-box" v-if="emoji_show">
                                <v-emoji-picker @select="selectEmoji"></v-emoji-picker>
                            </div>
                            <form @submit="sendMessage" action="" novalidate="">
                                <div class="form-row align-items-center">
                                    <div class="col">
                                        <div class="input-group">

                                            <!-- Textarea -->

                                            <textarea-autosize
                                                v-on:keypress="onTextareaKeyPress"
                                                v-debounce:400ms="onTriggerTyping"
                                                v-model="message"
                                                class="form-control bg-transparent border-0"
                                                @enter="sendMessage($event)"
                                                placeholder="Type your message..."
                                            ></textarea-autosize>

                                            <!-- Emoji button -->
                                            <div class="input-group-append">
                                                <button
                                                    class="btn btn-ico btn-secondary btn-minimal bg-transparent border-0"
                                                    type="button" @click="emoji_show=!emoji_show">
                                                    <img src="/assets/images/smile.svg" alt="">
                                                </button>
                                            </div>

                                            <!-- Upload button -->

                                            <div class="input-group-append">

                                                <button id="chat-upload-btn-1"
                                                        @click="onUploadClick"
                                                        class="btn btn-ico btn-secondary btn-minimal bg-transparent border-0 "
                                                        type="button">
                                                    <label class="d-inline-block mt-4 pointer" for="file-transfer">
                                                        <img src="/assets/images/paperclip.svg" class="pointer"
                                                             data-inject-svg="" alt="">
                                                    </label>
                                                </button>
                                            </div>

                                        </div>

                                    </div>

                                    <!-- Submit button -->
                                    <div class="col-auto">
                                        <button class="btn btn-ico btn-primary rounded-circle"
                                                type="submit">
                                            <span class="fe-send"></span>
                                        </button>
                                    </div>

                                </div>

                            </form>

                        </div>
                    </div>
                    <!-- Chat: Footer -->
                </div>
                <!-- Chat: body -->

            </div>
            <!-- Chat -->

        </div>
        <!-- Main Content -->
    </div>
</template>
<script>
import UserNavigation from "../../components/User/Navigation";
import TextareaAutosize from "../../components/TextareaAutosize"
import UserInboxMessage from "../../components/User/Inbox/Message"

import {VEmojiPicker} from 'v-emoji-picker';

export default {
    name: "user",

    components: {
        UserNavigation, UserInboxMessage, VEmojiPicker, TextareaAutosize
    },

    data() {
        return {
            message: '',
            attachFile: null,
            page: 1,
            emoji_show: false,
            informationStatus: false,
            isTyping: false,
            operatorIsTyping: false,
            operatorIsTypingTimeout: false,

            messagesList: [],
        }
    },

    computed: {
        CurrentAuthUser: function () {
            return this.$store.state.userAuth.user;
        },
        CurrentRoomInfo: function () {
            return this.$store.state.userRooms.current;
        },
        name: function () {
            return '';
        },
        loading: function () {
            return this.$store.getters["userMessage/isLoading"];
        },
        uploading: function () {
            return this.$store.getters["userMedia/isLoading"];
        }
    },

    async created() {
        await this.getMessages();
        await this.getRoom();
        await this.listen();
    },

    async destroyed() {
        await window.Echo.connector.disconnect();
        window.Echo = null;
    },

    methods: {
        listen() {
            window.InitEcho();

            window.Echo.join('chat')
                .here((data) => {
                    console.log('joined');
                })
                .leaving(async (data) => {
                    if (data.user.id === 1) {
                        await this.$store.dispatch('userRooms/leave')
                    }
                });

            window.Echo.private('chatbox.messages.' + this.CurrentAuthUser.id)
                .listen('ChatboxMessagesBroadcastEvent', async (e) => {
                    console.log('New message');
                    await this.getNewMessages(true);
                })
                .listen('JoinedOrLeaveRoomBroadcastEvent', async (e) => {
                    await this.getRoom();
                });

            window.Echo.private('chatbox.rooms.typing.' + this.CurrentAuthUser.id)
                .listen('RoomIsTypingBroadcastEvent', (e) => {
                    this.operatorIsTyping = true;
                    if (this.operatorIsTypingTimeout !== null) {
                        clearTimeout(this.operatorIsTypingTimeout);
                        this.operatorIsTypingTimeout = null;
                    }
                    this.operatorIsTypingTimeout = setTimeout(() => {
                        this.operatorIsTyping = false;
                        this.operatorIsTypingTimeout = null;
                    }, 900)
                });

        },
        selectEmoji(emoji) {
            this.message += ' ' + emoji.data;
        },
        async playSound() {
            let audio = new Audio('/assets/receive.mp3')
            await audio.play();
        },
        allowScroll() {
            const container = this.$el.querySelector("#chat-content-wrap");
            let height = container.scrollHeight;
            let top = container.scrollTop;
            if (height >= container.clientHeight) {
                if (top === 0 && (height - container.clientHeight <= 200)) {
                    return true;
                } else {
                    height = height - container.clientHeight;
                }
            } else
                return true;
            let percent = (top / height) * 100;
            if (height <= container.clientHeight) {
                return percent > 20;
            } else {
                return percent > 65;
            }
        },
        getOperatorName: function () {
            try {
                if (this.CurrentRoomInfo.operator_name !== '')
                    return this.CurrentRoomInfo.operator_name;
                else
                    return 'Hana';
            } catch (e) {
                return 'Hana';
            }
        },
        getOperatorAvatar: function () {
            switch (this.getOperatorName()) {
                case 'Hana':
                    return '/assets/images/avatars/hana.jpg'
                case 'Ana':
                    return '/assets/images/avatars/ana.jpg'
                default:
                    return '/assets/images/avatars/hana.jpg'
            }
        },
        async scrollDown(force = false) {
            if (this.allowScroll() || force) {
                const container = this.$el.querySelector("#chat-content-wrap");
                container.scrollTop = container.scrollHeight;
            }
            await this.$store.dispatch('userMessage/markRead', {
                room: this.dataRoom,
            }).then(() => {
                this.$emit('markRead')
            });
        },
        async getMessages(sound = false) {
            this.$store.dispatch('userMessage/index', {
                page: this.page
            }).then((response) => {
                if (this.page === 1) {
                    this.messagesList = response.data
                    setTimeout(() => {
                        this.scrollDown(true);
                    }, 100)
                } else {
                    this.messagesList = response.data
                    setTimeout(() => {
                        this.scrollDown();
                    }, 100)
                }
                if (sound) {
                    this.playSound();
                }
            });
        },
        async getRoom() {
            await this.$store.dispatch('userRooms/show');
        },
        async getNewMessages(sound = false) {
            try {
                let lastMessage = this.messagesList[this.messagesList.length - 1];
                if (lastMessage !== undefined) {
                    await this.$store.dispatch('userMessage/index', {
                        page: this.page,
                        newer: lastMessage.id
                    }).then((response) => {
                        response.data.forEach((item) => {
                            this.messagesList.push(item)
                        });
                        setTimeout(() => {
                            this.scrollDown();
                        }, 100)
                        if (sound) {
                            this.playSound();
                        }
                    });
                } else {
                    await this.getMessages(sound);
                }
            } catch (e) {
                await this.getMessages(sound);
            }


        },
        async sendMessage(event) {
            event.preventDefault();
            if (this.message.length > 0) {
                this.$store.dispatch('userMessage/create', {
                    message: this.message
                }).then(response => {
                    this.message = ''
                    this.messagesList.push({...response.data});
                    setTimeout(() => {
                        this.scrollDown(true);
                    }, 100)
                }).catch((err) => {
                    this.show_msg(err.response.data.message, 'error')
                });
                this.message = '';
                this.emoji_show = false;
            }
        },
        async uploadMedia(files) {
            if (files !== undefined && files[0] !== null) {
                this.$store
                    .dispatch("userMedia/upload", {
                        file: files[0],
                    })
                    .then((response) => {
                        this.$store.dispatch('userMessage/create', {
                            message: '',
                            media: response.data.id,
                        }).then(response => {
                            // this.message = ''
                            this.messagesList.push({...response.data});
                            setTimeout(() => {
                                this.scrollDown(true);
                            }, 100)
                        }).catch((err) => {
                            this.show_msg(err.response.data.message, 'error')
                        });
                        this.message = '';
                        this.emoji_show = false;
                    })
                    .catch((err) => {
                        this.show_msg(err.response.data.message, 'error')
                    });
            }
        },
        async onUploadClick() {
            if (this.uploading === false) {
                let input = document.createElement('input');
                input.type = "file";
                let self = this;
                input.addEventListener('change', function (event) {
                    self.uploadMedia(this.files)
                });
                input.click()
            }
        },
        /**
         * is typing event
         * @returns {Promise<void>}
         */
        async onTextareaKeyPress() {
            if (this.isTyping === false) {
                this.isTyping = true;
                await this.$store.dispatch('userRooms/typing', {
                    message: this.message,
                });
                setTimeout(() => {
                    this.isTyping = false;
                }, 100)
            }
        },
        /**
         * is typing event
         * @returns {Promise<void>}
         */
        async onTriggerTyping() {
            this.isTyping = false;
            await this.$store.dispatch('userRooms/typing', {
                message: this.message,
            });
        },
    }
};
</script>
<style scoped>
.sidebar-mobile-show {
    z-index: 9999;
}

.sidebar-mobile-close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 2.85rem;
    color: #000;
}

.sidebar-mobile-close a {
    color: #000;
}
</style>
