<template>
    <div class="layout">
        <user-navigation></user-navigation>
        <!-- Sidebar -->
        <div class="sidebar navigation navbar navbar-light justify-content-center py-xl-7">
            <div class="container-fluid py-6">
                <!-- Title -->
                <h2 class="font-bold mb-6">Social Tradia Live Chat
                </h2>
                <p class="text-xl-left">
                    Hello!<br>
                    It's lovely to see you here. <br>
                    we would be more than happy to help, just send us a message and we will take it from there :)
                    <br>
                    <br>
                    Working Hours: 9 am - 6 pm EST
                </p>
                <img class="mt-4" src="/assets/images/chat.png" width="100%">
                <!-- Title -->
            </div>
        </div>
        <!-- Sidebar -->
        <!-- Main Content -->
        <div class="main main-visible" data-mobile-height="">
            <!-- Default Page -->
            <div class="chat flex-column justify-content-center text-center">
                <div class="container-xxl">
                    <h6>Sorry, we are currently offline!
                    </h6>

                    <p class="text-muted">
                        Please come back during our working hours. <br>
                        <strong>Monday to Saturday 9am - 6pm EST</strong>
                        <br>
                    </p>
                </div>
            </div>
            <!-- Default Page -->


        </div>
        <!-- Main Content -->
    </div>
</template>
<script>
import UserNavigation from "../../components/User/Navigation";

export default {
    name: "user",

    components: {
        UserNavigation
    },

    data() {
        return {}
    },

    computed: {},

    created() {

    },

    methods: {}
};
</script>
<style scoped>
</style>
