<template>
    <div>
        <!-- Heading -->
        <div class="row justify-content-center">
            <div class="col-6 col-lg-6 col-sm-8">
                <img src="/images/logo.svg" class="img-fluid my-lg-4">
            </div>
        </div>

        <h1 class="font-bold text-center">Live Chat Support</h1>

        <!-- Text -->
        <p class="text-center mb-6">Get started by filling out the form!</p>

        <!-- Form -->
        <!-- Form -->
        <form class="mb-6" autocomplete="off" method="post" novalidate>
            <!-- Email -->
            <div class="form-group">
                <label for="email" class="sr-only">Your Email</label>
                <input
                    type="text"
                    class="form-control form-control-lg"
                    v-model="email"
                    id="email"
                    placeholder="Email address"
                />
            </div>

            <div class="form-group">
                <label for="text" class="sr-only">Your Name</label>
                <input
                    type="text"
                    class="form-control form-control-lg"
                    v-model="name"
                    id="name"
                    placeholder="Full Name"
                />
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input
                    type="password"
                    class="form-control form-control-lg"
                    v-model="password"
                    id="password"
                    placeholder="Password"
                />
            </div>

            <!-- Submit -->
            <button
                class="btn btn-lg btn-block btn-primary"
                @click="submit($event)"
                :disabled="loading"
                type="button"
            >
                <div
                    v-if="loading"
                    class="spinner-border spinner-border-sm text-light"
                    role="status"
                >
                    <span class="sr-only">Loading...</span>
                </div>
                <div v-else>Enter</div>
            </button>
        </form>
    </div>
</template>
<script>
export default {
    name: "login",

    data() {
        return {
            name: "",
            email: "",
            password: "",
        };
    },
    computed: {
        loading: function () {
            return this.$store.state.userAuth.status === "loading";
        },
    },

    mounted() {
        // if (this.$store.getters["userAuth/isAuthenticated"])
        //     this.$router.push("/inbox");
    },

    methods: {

        getTimeZone() {
            try {
                let objDateTime = new Date()
                let time = objDateTime.toTimeString()
                return time
            } catch (e) {
                return ''
            }
        },

        async submit(event) {
            if (event !== undefined) event.preventDefault();

            await this.$store
                .dispatch("userAuth/login", {
                    email: this.email,
                    name: this.name,
                    type: window.getUserType(),
                    password: this.password,
                    timezone: this.getTimeZone(),
                })
                .then(() => {
                    this.$router.push("/inbox");
                })
                .catch((err) => {
                    this.show_msg(err.response.data.message, "error");
                });
        }
    },
}
;
</script>
<style scoped>
</style>
