::-moz-selection { /* Code for Firefox */
    color: #1e1d1d;
    background: #fcf22b;
}

::selection {
    color: #1e1d1d;
    background: #fcf22b;
}

.message+.message {
    margin-top: 2rem;
}

.emoji-box {
    position: absolute;
    right: 0;
    bottom: 60px;
}

.emoji-picker{
    background: #fff !important;
}
.grid-emojis .border{
    border:0 !important;
}

.pointer{
    cursor: pointer !important;
}

.is-typing-message{
    overflow-y: auto;
    max-height: 100px;
}

@media (min-width: 1200px)
{
    .message-content {
        max-width: 75%;
    }
}


.message-component-contents a{
    color: rgb(238, 238, 238) !important;
}

.message-component-contents a:hover{
    color: #fdfdfd !important;
}
