
.emoji-picker.visible {
    opacity: 1;
}

.emoji-picker__content {
    height: 20rem;
    overflow: hidden;
    position: relative;
}

.emoji-picker__preview {
    height: 3.5rem;
    padding: 0.75rem;
    border-top: 1px solid rgba(245, 246, 250, 0.85);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.emoji-picker__preview-emoji {
    font-size: 2rem;
    margin-right: 0.25em;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "EmojiOne Color", "Android Emoji";
}

.emoji-picker__preview-name {
    font-size: 0.85em;
    overflow-wrap: break-word;
    word-break: break-all;
}

.emoji-picker__tabs-container {
    border-bottom: 1px solid rgba(245, 246, 250, 0.85);
}

.emoji-picker__tabs {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0.75rem;
}

.emoji-picker__tab {
    font-size: 1.5rem;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: background 0.25s;
    transition: background 0.25s;
    position: relative;
}

.emoji-picker__tab::after {
    content: "";
    width: 100%;
    background: transparent;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.emoji-picker__tab > svg {
    padding: 0.5rem;
    width: 100%;
    height: 34px;
}

.emoji-picker__tab:hover::after,
.emoji-picker__tab.active::after {
    background: #0176ff;
}

.emoji-picker__tab-body {
    margin-top: 0.5em;
    -webkit-transform: translateX(25rem);
    transform: translateX(25rem);
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    position: absolute;
    overflow-y: scroll;
    height: calc(100% - 42px);
    width: 100%;
}

.emoji-picker__tab-body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.emoji-picker__tab-body::-webkit-scrollbar {
    display: none;
}

.emoji-picker__tab-body h2 {
    font-size: 0.85rem;
    margin: 0;
    text-align: left;
    padding: 0.75rem;
    border-bottom: 1px solid rgba(245, 246, 250, 0.85);
}

.emoji-picker__tab-body.active {
    display: block;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.emoji-picker__emojis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    width: auto;
    width: 100%;
    margin: auto;
    padding: 0.75rem;
}

.emoji-picker__emojis.search-results {
    height: 21rem;
}

.emoji-picker__emoji {
    background: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    width: 11.11%;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "EmojiOne Color", "Android Emoji";
}

.emoji-picker__emoji:focus, .emoji-picker__emoji:hover {
    background: #f5f6fa;
}

.emoji-picker__search-container {
    padding: 0.75rem;
    position: relative;
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(245, 246, 250, 0.85);
}

.emoji-picker__search-icon {
    display: none;
}

.emoji-picker__search-not-found {
    text-align: center;
    margin-top: 2em;
}

.emoji-picker__search-not-found-icon {
    font-size: 3em;
}

.emoji-picker__search-not-found-icon > svg {
    width: 40px;
    height: 40px;
}

.emoji-picker__search-not-found h2 {
    margin: 0.5em 0;
    font-size: 1em;
}

.emoji-picker__variant-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 23rem;
    width: 100%;
    height: 27.5rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.emoji-picker__variant-popup {
    background: #fff;
    border-radius: 0.375rem;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
}

.emoji-picker__variant-popup-close-button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: absolute;
    right: 1em;
    padding: 0;
    top: calc(50% - 0.5em);
    height: 1em;
    width: 1em;
}

.emoji-picker__variant-popup-close-button > svg {
    width: 9px;
    display: block;
    color: #212529;
}


.emoji-picker {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 0.375rem;
    -webkit-box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.05);
    width: 320px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    margin: 0 0.5em 1rem;
    overflow: hidden;
}
