<template>
  <div class="tab-pane fade h-100" id="tab-content-demos" role="tabpanel">
    <div class="d-flex flex-column h-100">
      <div class="hide-scrollbar">
        <div class="container-fluid py-6">
          <!-- Title -->
          <h2 class="font-bold mb-6">Demos</h2>
          <!-- Title -->

          <!-- Search -->
          <form class="mb-6">
            <div class="input-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Search for messages or users..."
                aria-label="Search for messages or users..."
              />
              <div class="input-group-append">
                <button
                  class="btn btn-lg btn-ico btn-secondary btn-minimal"
                  type="submit"
                >
                  <i class="fe-search"></i>
                </button>
              </div>
            </div>
          </form>
          <!-- Search -->

          <!-- Card -->
          <div class="card mb-6">
            <div class="card-body">
              <div class="media align-items-center">
                <div class="mr-5">
                  <img
                    src=""
                    class="fill-primary"
                    data-inject-svg=""
                    alt=""
                    style="height: 46px; width: 46px"
                  />
                </div>
                <div class="media-body">
                  <h5 class="mb-0">
                    <a
                      href="documentation/index.html"
                      class="text-basic-inverse stretched-link"
                      >Documentation</a
                    >
                  </h5>
                  <p>Quick setup and build tools.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->

          <h5 class="my-6">Chat Pages:</h5>

          <!-- Card -->
          <div class="card mb-6">
            <img
              class="card-img-top"
              alt=""
              src="assets/images/demos/chat.jpg"
            />
            <div class="card-body border-top">
              <div class="media">
                <div class="media-body">
                  <h5 class="mb-0">Light mode</h5>
                </div>
                <div class="align-self-center">
                  <a href="../demo-light/" class="text-muted stretched-link">
                    <i class="fe-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-6">
            <img
              class="card-img-top"
              alt=""
              src="assets/images/demos/chat-dark.jpg"
            />
            <div class="card-body border-top">
              <div class="media">
                <div class="media-body">
                  <h5 class="mb-0">Dark mode</h5>
                </div>
                <div class="align-self-center">
                  <a href="../demo-dark/" class="text-muted stretched-link">
                    <i class="fe-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->

          <h5 class="my-6">Account Pages:</h5>

          <!-- Card -->
          <div class="card mb-6">
            <img
              class="card-img-top"
              alt=""
              src="assets/images/demos/sign-in-dark.jpg"
            />
            <div class="card-body border-top">
              <div class="media">
                <div class="media-body">
                  <h5 class="mb-0">Sign In</h5>
                </div>
                <div class="align-self-center">
                  <a href="signin.html" class="text-muted stretched-link">
                    <i class="fe-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-6">
            <img
              class="card-img-top"
              alt=""
              src="assets/images/demos/sign-up-dark.jpg"
            />
            <div class="card-body border-top">
              <div class="media">
                <div class="media-body">
                  <h5 class="mb-0">Sign Up</h5>
                </div>
                <div class="align-self-center">
                  <a href="signup.html" class="text-muted stretched-link">
                    <i class="fe-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-6">
            <img
              class="card-img-top"
              alt=""
              src="assets/images/demos/password-reset-dark.jpg"
            />
            <div class="card-body border-top">
              <div class="media">
                <div class="media-body">
                  <h5 class="mb-0">Password Reset</h5>
                </div>
                <div class="align-self-center">
                  <a
                    href="password-reset.html"
                    class="text-muted stretched-link"
                  >
                    <i class="fe-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
<style scoped>
</style>