<template>
    <textarea @input="handleInput" :id="id" :ref="id"
              v-model="content" class="form-control form-control-chatbox  bg-transparent border-0"
              data-autosize="true"
              :placeholder="placeHolder" :style="inputStyle"></textarea>
</template>

<script>
export default {
    name: "textareaAutosize",

    props: {
        placeHolder: '',
        'value': '',
        vEnter: Function,
    },

    data() {
        return {
            id: null,
            content: this.value,
            inputHeight: '0'
        }
    },

    mounted() {
        this.id = 'contentInput' + this._uid;

        let vm = this;
        let object = "#" + this.id;
        window.addEventListener('keydown', function (e) {
            if ($(object + ':focus').length > 0) {
                // INPUT AREAS IN FOCUS
                switch (e.keyCode) {
                    case 13:
                        if (e.shiftKey) {
                            e.preventDefault();
                            let txtArea = document.getElementById(vm.id);
                            txtArea.value += '\r\n';
                            break;

                        }
                        e.preventDefault();
                        vm.$emit('enter', e);

                        break;

                    default:
                        vm.handleKeypress();
                        break;
                } // end switch
            }
        });
        this.resize();

    },

    computed: {
        inputStyle() {
            if (this.inputHeight <= 100)
                return {
                    'min-height': this.inputHeight + 'px'
                }
            else
                return {
                    'overflow-y': 'scroll',
                    'min-height': '100px'
                }
        }
    },

    watch: {
        value(value) {
            this.content = value;
        },
        content() {
            this.resize();
            this.$emit('input', this.content)
        }
    },

    created() {
    },

    methods: {
        emojiReplacer(str) {
            str = str.replaceAll(":)", '🙂');
            str = str.replaceAll(":pray", '🙏');
            str = str.replaceAll(":relaxed", '☺️');
            str = str.replaceAll(":D", '😃');
            str = str.replaceAll("< 3", '❤');
            str = str.replaceAll(":thumbsup:", '👍');
            return str;
        },
        handleInput(value) {
            this.content = document.getElementById(this.id).value;
            this.content = this.emojiReplacer(this.content);
            this.$emit('input', this.content, value)
        },
        handleKeypress(value) {
            this.content = document.getElementById(this.id).value;
            this.$emit('keypress', this.content, value)
        },
        resize() {
            this.inputHeight = this.$refs[this.id].scrollHeight
        }
    }

}
</script>

<style scoped>

textarea {
    padding: 8px;
    border: 1px solid #aeaeae;
    resize: none;
    overflow: hidden;
    font-size: 16px;
    /*height: 0;*/
}

.form-control-chatbox{
    background-color: rgb(245 246 250) !important;
    border-radius: 30px !important;
}
.admin-layout .form-control-chatbox{
    color: #0a0c0d;
}
</style>
