<template>
    <div class="layout">
        <admin-navigation></admin-navigation>

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="tab-content h-100" role="tablist">
                <div
                    class="tab-pane fade h-100 show active"
                    id="tab-content-dialogs"
                    role="tabpanel">
                    <div class="d-flex flex-column h-100">
                        <div class="hide-scrollbar">
                            <div class="container-fluid py-6">
                                <!-- Title -->
                                <h2 class="font-bold mb-6">Room</h2>
                                <!-- Title -->
                                <div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Code </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.code }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Operator name </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.operator_name }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">User name </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.name }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">User email </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.email }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Type </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.type }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Os </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.os }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Browser </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.browser }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Country </span>
                                        <span class="room_details_row_value">
                                            <country-flag
                                                :country='(selectedRoom.ip_info !== undefined && selectedRoom.ip_info.country !== undefined) ? selectedRoom.ip_info.country : ""'
                                                size='small'/>
                                            {{ selectedRoom.country }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Ip address </span>
                                        <span class="room_details_row_value"> {{ selectedRoom.ip }} </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Connected at </span>
                                        <span class="room_details_row_value">
                                            {{ selectedRoom.connected_at | moment("YYYY-MM-DD h:mm:ss") }}
                                        </span>
                                    </div>
                                    <div class="room_details_row">
                                        <span class="room_details_row_label">Created at </span>
                                        <span class="room_details_row_value">
                                            {{ selectedRoom.created_at | moment("YYYY-MM-DD h:mm:ss") }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Sidebar -->

        <!-- Main Content -->
        <div class="main" data-mobile-height="">
            <chatbox-area ref="chatboxArea"
            ></chatbox-area>
        </div>
        <!-- Main Content -->
    </div>
</template>
<script>
import AdminNavigation from "../../../components/Admin/Navigation";
import ChatboxArea from "../../../components/Admin/Inbox/ChatboxHistory";

export default {
    name: "inbox",

    data() {
        return {
            search: '',
            selectedRoom: {},
        }
    },
    components: {
        AdminNavigation,
        ChatboxArea,
    },

    created() {
        this.initRoom();
    },

    methods: {
        async initRoom() {
            await this.$store.dispatch('adminRooms/show', {
                id: this.$route.params.room
            }).then((response) => {
                this.selectedRoom = response.data
                this.$refs.chatboxArea.setCurrent(this.selectedRoom);
            });
        }
    }
};
</script>
<style scoped>

.room_details_row {
    background: #211e1e;
    padding: 8px 10px;
    margin: 0 3px 8px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
</style>
