<template>
    <div>
        <!-- Heading -->
        <h1 class="font-bold mb-4 text-center">Admin Panel</h1>
        <!-- Form -->
        <form class="my-6" method="post" novalidate @submit="login">
            <!-- Email -->
            <div class="form-group">
                <label for="username" class="sr-only">Your Name</label>
                <input
                    type="text"
                    class="form-control form-control-lg"
                    v-model="username"
                    id="username"
                    placeholder="Username"
                />
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input
                    type="password"
                    class="form-control form-control-lg"
                    v-model="password"
                    id="password"
                    placeholder="Password"
                />
            </div>

            <!-- Submit -->
            <button class="btn btn-lg btn-block btn-primary" :disabled="loading" type="submit">
                <div v-if="loading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only">Loading...</span>
                </div>
                <div v-if="!loading">Enter</div>
            </button>
        </form>

    </div>
</template>
<script>
export default {
    name: "login",

    data() {
        return {
            username: '',
            password: '',

        }
    },
    mounted() {
        if (this.$store.getters["adminAuth/isAuthenticated"])
            this.$router.push("/watermelon/inbox");
    },
    computed: {
        loading: function () {
            return this.$store.state.adminAuth.loading === "loading";
        },
    },

    methods: {
        async login(event) {
            if (event !== undefined)
                event.preventDefault();
            await this.$store
                .dispatch("adminAuth/login", {
                    username: this.username,
                    password: this.password,
                })
                .then(() => {
                    this.$router.push("/watermelon/dashboard");
                })
                .catch((err) => {
                    this.show_msg(err.response.data.message, "error");
                });
        },
    },
};
</script>
<style scoped>
</style>
